/12sv5_unfiltered
/charadriiformes_single_tree
/sweep_ac_default_sp_0.05
/sweep_ac_default_sp_0.10
/sweep_ac_default_sp_0.20
/sweep_ac_fewer_bins_sp_0.05
/sweep_ac_fewer_bins_sp_0.10
/sweep_ac_fewer_bins_sp_0.20
/sweep_ac_more_bins_sp_0.05
/sweep_ac_more_bins_sp_0.10
/sweep_ac_more_bins_sp_0.20
/sweep_ac_single_sp_0.05
/sweep_ac_single_sp_0.10
/sweep_ac_single_sp_0.20
/sweep_metadata
/vert12S_fasttree
/vert12S_pasta
/vert12S_veryfasttree
/vert12S_pasta_sp_0.10
/pasta_sweep
